# /lib/systemd/system/gps-sync.service
[Unit]
Description=GPS to File Pipe
After=gpsd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/gps-sync
Restart=always
RestartSec=1
StartLimitInterval=0
Environment=PATH=/root/.pyenv/versions/3.7.10/bin/:$PATH

[Install]
WantedBy=multi-user.target
