# /lib/systemd/system/webrtc-streamer.service
[Unit]
Description=WebRTC-streamer
After=video-mirror.service

[Service]
Type=simple
ExecStart=webrtc-streamer
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
